/* .shop{
    columns: 4;
    padding: 20px;
    padding-left: 35px;
    background-color: rgb(247, 245, 238);

    position: relative;
    width: 100%;
    left: 0px;
    display: flex;
} */


.shop{
    background-color: rgb(247, 245, 238);
    /* display: grid; */
    width: 100%;
    column-count: 4;
    text-align: center;

}

.shop--items{
    display: grid;
    grid-row-end: auto;
    position: relative;
    max-width: 100%;
}
